.Burger{
    display: flex;
    width: 100%;
    height: 40px;
    background: url('./../../resources/icons/burger.png') no-repeat 2% center;
    background-color: rgba(83, 82, 82, 0.91);
    position: relative;
}