.ProductList{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2%;
}
@media screen and (min-width: 600px){
    .ProductList{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 10px;
    }
}
@media screen and (min-width: 760px){
    .ProductList{
        padding-top: 60px;
    }
}
@media screen and (min-width: 1200px){
    .ProductList{
        padding-top: 90px;
    }
}