.NavBarContainer {
    background-color: rgba(86, 84, 84, 0.93);
    width: 40%;
    position: absolute;
    list-style-type: none;
    &__NavBar {
        border-top: 1px dashed #dac9c9;
            &__link{
                text-decoration: none;
                color: #dac9c9;
                display: block;
                padding: 5%;
                padding-left: 10%;
            }
            &__link:hover {
                background-color: rgba(185, 178, 193, 0.84);
                color: black;
            }
            &__submenu {
                list-style-type: none;
            }
        }
    }
.NavBarContainer--closed {
    display: none;
    background: none;
}
@media screen and (min-width: 760px) {
    .NavBarContainer {
        display: flex;
        width: 100%;
        justify-content: space-around;
        background: none;
        &__NavBar {
            width: 33%;
            text-align: center;
            flex-grow: 1;
            border-top: none;
            &__link {
                background-color: rgba(86, 84, 84, 0.93);
                font-size: 20px;
            }
            &__submenu{
                background-color: rgba(86, 84, 84, 0.93);
                font-size: 20px;
            }
        }
    }
}
@media screen and (min-width: 960px) {
    .NavBarContainer {
        justify-content: center;
        &__NavBar {
            width: 30%;
            flex-grow: 0;
        }
    }
    .NavBarContainer:first-child {
        a{
            border-radius: 2% 0 0 2%;
        }
    }
    .NavBarContainer:last-child {
        border-radius: 0 2% 2% 0;
    }
}