.NavBarContainer {
    background-color: rgba(86, 84, 84, 0.93);
    width: 40%;
    position: absolute;
    &__NavBar {
        border-top: 1px dashed #dac9c9;
            &__link{
                text-decoration: none;
                color: #dac9c9;
                display: block;
                padding: 5%;
                padding-left: 10%;
            }
            &__link:hover {
                background-color: rgba(185, 178, 193, 0.84);
                color: black;
            }
            &__submenu {
                list-style-type: none;
            }
        }
    }
.NavBarContainer--closed {
    display: none;
}